
{% extends 'base.html' %}           


{% block content %}
    <h1>index.html</h1>
    {% comment %} <p>{{ event.description }}</p>
    <p>{{ event.date }}</p>
    <p>{{ event.location }}</p>
    <p>{{ event.organizer }}</p>
    <p>{{ event.contact }}</p>
    <p>{{ event.email }}</p>
    <p>{{ event.phone }}</p>
    <p>{{ event.website }}</p>
    <p>{{ event.image }}</p>
    <p>{{ event.category }}</p>
    <p>{{ event.created_at }}</p>
    <p>{{ event.updated_at }}</p>
    <p>{{ event.id }}</p> {% endcomment %}
{% endblock %}
